@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  cursor: url('/icons8-rocket-25-purple.png'), auto;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 7s linear infinite;
}



:root {
  --font-heading: var(--font-orbitron), -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --font-body: var(--font-rajdhani), -apple-system, BlinkMacSystemFont, 
              'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}


.font-sans {
  font-family: var(--font-body); 
}

.font-heading {
  font-family: var(--font-heading); 
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600; 
  letter-spacing: 0.025em;
}