@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  cursor: url('/icons8-rocket-25-purple.png'), auto;
}


/* html, body{
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
} */


/* body{
  border: 5px solid red 
} */
/* 
*{
  border: 5px solid blue
} */


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 7s linear infinite;
}
